img {
  width: 300px;
  height: 285px;
  border-radius: 15px;
}

p {
  color: black;
}

.m-15 {
  margin: 15px;
  display: block;
}

.holder {
  display: inline-block;
}

.container {
  text-align: center;
}

.img-title {
  text-align: left;
}

.col-sm {
  display: inline;
  margin-right: 35px;
}