
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Upload Images</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Uploaded Images</h1>
    <hr>
    <div class="container"> 
        <div class="row">
            <% items.forEach(function(image) { %>
                <div class="col-sm">
                    <div class="holder">
                    <h3><%= image.title %></h3>
                    <img
                      src="data:image/<%=image.imageType%>;base64,
                              <%=image.image.toString('base64')%>"
                    />
                      <p><%= image.desc %></p>
                    </div>
                    </div>
                <% }) %>
            </div>
        </div>
</body>
</html>